nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    padding: 9vh 0;
}

.menu{
    width: 29vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu img{
    height: 3vh;
}

.menu span{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 6vh;
    color: #3B563C;
    cursor: pointer;
    filter: grayscale(100%);
    opacity: 0.6;
    user-select: none;
}

span.active {
    filter: grayscale(0);
    opacity: 1;
}

p{
    margin: 0;
    padding: 0;
    font-size: 2vh;
}

.botoes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 16.5vw;
}

.logo{
    width: 12vw;
    display: flex;
    align-items: center;
    justify-content: start;
}

.logo img{
    height: 7vh;
    cursor: pointer;
}